models/lstm_epoch15 filter=lfs diff=lfs merge=lfs -text
models/lstm_epoch15_nlayers7_input100_output100_hs700_trainL1.14_valL1.33.pt filter=lfs diff=lfs merge=lfs -text
models/*.pt filter=lfs diff=lfs merge=lfs -text
